{% extends 'AppBundle:template:template.html.twig' %}
{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_project') }}">Proyectos</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_business') }}">Empresas</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
    </li>
{% endblock %}
{% block header %}
    Admin dashboard
{% endblock %}
{% block body %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod nunc id scelerisque fringilla. Aliquam at quam erat. Donec a arcu lorem. Suspendisse bibendum leo neque, vel viverra turpis aliquam a. Nullam laoreet feugiat varius. Pellentesque cursus mi id bibendum vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam suscipit sagittis rhoncus. Nunc malesuada tortor ultricies, auctor enim vel, ultricies risus. Praesent gravida faucibus quam, eu efficitur diam cursus a. Quisque in vulputate sem. Proin et est vel neque sagittis commodo vitae porttitor ex. Aliquam hendrerit, tortor et volutpat iaculis, urna quam consequat est, vel bibendum purus velit bibendum lectus. Suspendisse eu vulputate neque, et vehicula leo. Praesent sapien tellus, ultrices in leo non, ornare pretium justo.

    Maecenas facilisis mi eu magna consectetur imperdiet. Quisque quis turpis vitae elit tincidunt elementum. Quisque fermentum metus auctor orci semper, et vulputate tortor tempor. Cras ac odio libero. Nunc dictum leo libero, eu facilisis leo elementum vel. Ut eu rhoncus mi. Etiam sit amet porta ante. Phasellus sodales lectus leo, at convallis ex feugiat et. Vestibulum vitae metus ac mi accumsan congue ut eu justo. Sed euismod interdum velit eu tincidunt. Vivamus vehicula est sit amet orci vulputate imperdiet.

    Nullam at faucibus ligula. Vestibulum velit dui, vestibulum vitae iaculis gravida, vehicula et elit. Fusce et nisl sit amet ipsum bibendum interdum. Donec sit amet tellus et diam lobortis porttitor efficitur eget turpis. Praesent tellus libero, faucibus non vehicula a, pellentesque a risus. Aenean nec leo lacinia, congue lacus eu, rutrum ante. Morbi aliquam tellus purus, nec tincidunt orci rutrum vitae. Aliquam sit amet sollicitudin nisl. Cras quis condimentum metus. Vivamus et quam at elit fringilla cursus. Aenean fringilla, eros vitae gravida accumsan, lectus orci mollis justo, at aliquet nunc arcu id lectus. Quisque in eleifend ipsum. Quisque egestas tristique tristique. Sed consectetur ante purus. Etiam cursus fermentum dui, quis sagittis velit lobortis vel. Nulla porta nunc sit amet molestie blandit.

    Praesent commodo sapien urna. Mauris luctus luctus lectus sit amet fringilla. Etiam hendrerit felis quis tellus egestas, ut euismod turpis faucibus. Quisque vulputate velit purus, sed tristique mi bibendum quis. Proin in tempor quam. Vestibulum mattis urna ut tellus laoreet pulvinar. Nulla scelerisque magna turpis, sed lacinia velit dapibus vitae. Vestibulum et mauris odio. Aenean gravida feugiat augue at tincidunt. Etiam suscipit et leo a pharetra. Sed dignissim pharetra eros id suscipit. Mauris nisi felis, tempor non purus vitae, rhoncus euismod turpis. Aenean blandit a erat varius laoreet. Ut finibus fermentum libero eu consequat. Proin varius mi nec leo hendrerit ultrices. Maecenas porta augue sit amet odio fringilla, a malesuada lacus aliquet.

    Duis eu lorem id arcu hendrerit sollicitudin non nec nunc. Duis dolor odio, mollis a dolor aliquam, ultricies pharetra dui. Pellentesque viverra leo sapien, a dignissim ligula luctus ac. Nulla commodo non magna et hendrerit. Sed ex dolor, maximus ac mattis in, venenatis in magna. Duis non varius eros. Fusce semper at dolor ac dapibus. Integer a semper nunc. Nam nec elit nec elit dictum commodo. In pretium libero quis odio lobortis hendrerit. Cras sagittis ultricies leo, et iaculis risus porttitor sit amet. Suspendisse in lacus sagittis, posuere nulla vel, pharetra ex. Aliquam a urna semper, elementum lacus accumsan, euismod est.
{% endblock %}