{% extends 'AppBundle:Layout:template.html.twig' %}
{% block style %}
    <style>

    </style>
{% endblock %}
{% block nav %}
    <a href="{{ path('logout') }}">Logout</a>
{% endblock %}
{% block header %}
    Crear Proyecto
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}
    {# dialog modal #}
    <button id="_modal_btn" class="btn btn-default">
        Nueva empresa
    </button>
    <div class="modal fade" id="_modal" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
        {# geretated  #}
    </div>
    {# dialog modal #}
{% endblock %}
{% block script %}
    <script>
        $(document).on("click", "#_modal_btn", function () {
            var res = "";
            var done = false;
            $.when(
                $.ajax({
                    type: 'GET',
                    url: "{{ path('admin_business_create') }}",
                    success: function (response) {
                        res = response;
                        done = true;
                    },
                })).then(
                function () {
                    if (done) {
                        $("#_modal").html(res).modal("show");
                    }
                });
        });
    </script>
{% endblock %}