{% extends 'AppBundle:layout:dialog_template.html.twig'%}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
{% block footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary">Guardar</button>
{% endblock %}