{% extends 'AppBundle:template:dialog_template.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}

{% endblock %}
{% block footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-primary">Guardar</button>
{% endblock %}