{% extends 'AppBundle:template:template.html.twig' %}
{% block style %}
    <style>

    </style>
{% endblock %}
{% block nav %}
    <a href="{{ path('login') }}">Login</a>
{% endblock %}
{% block header %}

{% endblock %}
{% block body %}

{% endblock %}